@import "./flexCenter";
@import "./SelectDisable";

$banner-height: 92vh;

:root {
  --randomHeight: 10;
  --randomWidth: 10;
  --randomX: 0;
  --randomY: 0;
  --randomOpacity: 0;
  --animation-time: 10s;
  --rotationStart: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
}
html {
  background-color: #252525;
  scroll-behavior: smooth;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: rgba($color: #000000, $alpha: 1.0);
}
.preload {
  @include flexCenter();
  @include SelectDisable();
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #252525;
  transition: opacity ease 1.25s;
  p {
    z-index: 2;
    color: white;
    font-size: 30px;
  }
  #logo {
    position: absolute;
    width: 450px;
    animation: spin 10s linear infinite;
  }
  #logo:nth-child(1) {
    filter: blur(5px);
    animation: spin 10s linear infinite, breath 12s ease infinite alternate;
  }
  #logo:nth-child(2) {
    filter: blur(10px);
    animation: spin 10s linear infinite, breath 6s ease infinite alternate;
  }
  #logo:nth-child(3) {
    filter: blur(15px);
    animation: spin 10s linear infinite, breath 2s ease infinite alternate;
  }
  #text {
    position: absolute;
    width: 400px;
    transform: translateY(50%);
  }
  #textblur {
    position: absolute;
    width: 400px;
    transform: translateY(50%);
    filter: blur(7px);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes breath {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }
}
.preload-finish {
  opacity: 0;
  pointer-events: none;
}
.nav {
  position: fixed;
  top: -100%;
  display: flex;
  z-index: 2;
  width: 100%;
  height: 6vh;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(28, 133, 127);
  opacity: 0.8;
  transition: ease 0.5s;
  .link {
    display: flex;
    justify-content: space-around;
    a {
      margin-left: 2vw;
      padding: 0.15vw;
      font-family: "Play", sans-serif;
      font-size: 2vh;
      color: white;
      border-radius: 5px;
      border: solid 0.2vh transparent;
      transition: 1s ease;
      text-decoration: none;
      &:hover {
        border-color: white;
      }
    }
  }
  img {
    height: 80%;
  }
}
.nav-engage {
  top: 0%;
}
.nav-background {
  position: absolute;
  width: 100%;
  height: 6vh;
  z-index: 20;
  background-color: rgb(28, 133, 127);
  opacity: 0.7;
  clip-path: circle(0px) reverse;
}
.navabs {
  position: absolute;
  top: 0;
  display: flex;
  z-index: 20;
  width: 100%;
  height: 6vh;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  opacity: 1;
  .link {
    display: flex;
    justify-content: space-around;
    a {
      margin-left: 2vw;
      padding: 0.15vw;
      font-family: "Play", sans-serif;
      font-size: 2vh;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      border: solid 0.2vh transparent;
      transition: 1s ease;
      &:hover {
        border-color: white;
      }
    }
  }
  img {
    height: 80%;
  }
  @keyframes startup {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
}
.cartpie {
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
  .pieButton {
    z-index: 2;
    @include flexCenter();
    @include SelectDisable();
    position: fixed;
    bottom: 5vh;
    right: 5.5vw;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
    font-size: 1.5vh;
    font-family: sans-serif;
    transition: 0.3s ease;
    display: none;
    &:hover {
      box-shadow: 0 0 15px 5px white;
    }
  }
  .kitsuneChan {
    background-color: rgba(0, 0, 0, 0.103);
    image-rendering: crisp-edges;
    height: 25vh;
    position: fixed;
    bottom: -1.5vh;
    right: 0;
    animation: logofloat 5s ease-in-out infinite alternate;
    clip-path: circle(7vh at 45% 38%);
    transition: 1s ease;
    &:hover {
      clip-path: circle(9vh at 45% 38%);
    }
  }
}

.banner {
  @include flexCenter();
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  height: $banner-height;
  background-color: #353535;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  #bannerCanvas {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: $banner-height;
  }
  .bgimage {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: $banner-height;
    background-color: #353535;
    background-image: linear-gradient(
        to top,
        rgba(255, 245, 103, 0.247),
        rgba(49, 207, 255, 0.253)
      ),
      url(../img/untitled.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(1.1);
    margin: -5px -10px -10px -5px;
  }
  .bgcover {
    width: 100%;
    height: $banner-height;
    background-color: #151515;
    opacity: 0.4;
  }

  .block {
    position: absolute;
    top: 0;
    width: var(--randomWidth);
    height: var(--randomHeight);
    top: var(--randomY);
    left: var(--randomX);
    opacity: var(--randomOpacity);
    background-color: rgba(49, 255, 255, 0.288);
    backdrop-filter: blur(20px);
    filter: blur(2px);
    box-shadow: rgba(110, 255, 255, 0.678);
  }
  .commit {
    position: absolute;
    opacity: 0.3;
    color: white;
    left: 2vw;
    bottom: 0;
    font-size: 1.5vh;
    font-family: "Play", sans-serif;
    animation: flicker var(--animation-time) linear alternate infinite;
  }
  .bannerlogo {
    z-index: 2;
    position: absolute;
    height: 65%;
    min-width: 150px;
    min-height: 150px;
    animation: logofloat 3s ease-in-out infinite alternate;
    transition: 0.5s ease;
  }
  .bannercircle {
    position: absolute;
    width: 140vh;
    opacity: 0.2;
    filter: blur(1px);
    animation: spin linear 30s infinite;
  }
  .bannersecond {
    position: absolute;
    width: 115vh;
    opacity: 0.1;
    filter: blur(1px);
    animation: spin linear 45s infinite;
  }
  .bannerthird {
    position: absolute;
    width: 170vh;
    opacity: 0.125;
    filter: blur(1px);
    animation: spin linear 90s infinite;
  }
  .bannerforth {
    position: absolute;
    width: 195vh;
    opacity: 0.15;
    filter: blur(1px);
    animation: spin linear 75s infinite reverse;
  }
  .bannerfifth {
    position: absolute;
    width: 90vh;
    opacity: 0.125;
    filter: blur(1px);
    animation: spin linear 75s infinite;
  }

  #blur {
    filter: blur(8px);
  }
  @keyframes logofloat {
    from {
      transform: translateY(1%);
    }
    to {
      transform: translateY(-1%);
    }
  }
  @keyframes flicker {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.2;
    }
  }
}
.events {
  @include SelectDisable;
  @include flexCenter;
  justify-content: flex-start;
  font-size: 4vh;
  z-index: 10;
  position: absolute;
  top: 40vh;
  right: -10vw;
  width: 15vw;
  height: 4vh;
  background-color: white;
  font-family: "Oswald", sans-serif;
  opacity: 0.5;
  transition: ease 1s;
  color: rgb(65, 65, 65);
  &:hover {
    opacity: 1;
    right: -7vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.event-display{
  @include SelectDisable;
  @include flexCenter;
  display: none;
  position: absolute;
  z-index: 11;
  right: 0;
  top: 0;
  height: 100vh;
  width:20vw;
  background-color: rgb(44, 44, 44);
  opacity: 0.7;
  transition: 1s ease;
}
.event-display-on{
  display: flex;
}
.info {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 0vh;
}
.bottom {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 0vh;
}
.footer {
  @include flexCenter();
  position: relative;
  z-index: 2;
  width: 100%;
  height: 8vh;
  background-color: #151515;
  bottom: -8%;
  .claim {
    font-family: Helvetica;
    color: white;
    font-size: 1vh;
    opacity: 0.5;
  }
}



@media screen and (max-width: 1200px){

  .events,.cartpie{
    display: none;
  }
  .bannerlogo{
    img {
      width: 50%;
    }
  }

  
  *{
    animation: none;
  }
 





}
